
/* GLOBAL */

:root{
  --color-header-bg: #003399;
  --color-trim: #6698cb;
  --color-left-col-drk: #b1d0f0;
  --color-left-col-lgt: #d5e8fb;
  --color-right-col-title: #ffcc99;
  --color-right-col-drk: #ff9933;
  --color-right-col-lgt: #f9d6b4;
  --color-text-lgt-blu: #336699;
  --color-text-drk-orn: #FF6600;

  font-size: 12px;
}


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}
body{
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--color-left-col-lgt);
}


h1,h2,h3{
  padding-left: 5px;
}


ul{

  list-style: none;

}

.grid-container{
  background-color: white;
  width: 980px;
  min-height: 100vh;
}

/* HEADER */

header{
  background-color: var(--color-header-bg);
}
header nav{
  background-color: var(--color-trim);
}

header nav ul{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li{
  color: white;
  margin: 0 2px 0 2px;
  padding: 6px 2px;

}

.page-logo{
  max-width: 100%;
  height: 100px;
  display: block;
  margin: auto;
}

header nav ul span{
  color: black;
}

nav a{
  color: white;
  text-decoration: none;
}

nav a:hover{
  color: black;
}

.nav-link {
  padding: 5px;
}

/* COLUMNS */



/* SECTIONS */
section{
  margin: 10px;
}

.content div{
  padding: 3px;
}

/* LEFT COLUMN */

.grid-col-left section h2{
 color:white;
 border-bottom: 2px ridge var(--color-trim);
}

.grid-col-left section{
  border: 2px ridge var(--color-trim);
}

.grid-col-left section h2{
  background-color: #6698cb;
}

#bio{
  border: 0px;
}

.content-title{
  background-color: var(--color-left-col-drk);
  color: var(--color-text-lgt-blu);
  padding-left: 5px;
  padding-top: 2px;;
  font-weight: 600;
  margin: 2px;

}

.content-title p{
 color: initial;
 font-weight: initial;
}

.content-area{
  background-color: var(--color-left-col-lgt);
  margin: 2px;

}

/* RIGHT COLUMN */

.grid-col-right section h2{
  color:var(--color-text-drk-orn);
  background-color: var(--color-right-col-lgt);
}

.grid-col-right .content{
  padding: 5px;
}

.grid-col-right h3{
  color:var(--color-text-drk-orn);
  padding-top: 10px;
}

#network {
  margin: 20px auto;
  border: 2px solid black;
}

#network p{
  font-size: 2rem;
  text-align: center;
  padding: 25px 0;
}

.tech-list{

}

.tech{
  position: relative;
}

.tech:hover{
  transition: transform 55ms ease-out;

  transform: scale(.9);
}

.tech img{
  display: block;
  margin: 0 auto;
}

.logo_html5::before{
  content: "HTML5";

}

.logo_css3::before{
  content: "CSS3";

}

.logo_javascript::before{
  content: "Javascript";

}

.logo_django::before{
  content: "Django";

}

.logo_git::before{
  content: "git";

}

.logo_postgres::before{
  content: "Postgres";

}

.logo_python::before{
  content: "Python 3";

}

.logo_adobe::before{
  content: "Adobe";

}

.logo_java::before{
  content: "Java";

}

.tech::before{
  white-space: nowrap;
  color: white;
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  background-color: rgba(10,20,40,.8);
  padding: 1em;
  position: absolute;
  border-radius: 10px;
  left: 10%;
  right: 10%;
  top: 30%;
  transform: scale(0);
  transition: transform 75ms ease-out;
}


.tech:hover::before{
  transform: scale(1);
}





/*   */

.blog-entries li{
  padding: 5px;
}

.blog-link{
  font-weight: 700;
}

#blurbs p{
  padding-left: 5px;
}

#blog-title content{
  padding-left: 5px;
}

.blogpost-footer{
  background-color: var(--color-right-col-title);
  color: rgba(0,0,0,0.7);
}

#blogpost ul{
  display: flex;
}

#blogpost li{
  padding: 2px 5px;

}

.link-back{
  font-weight: 700;
}

.tech img{
  width:90px;
}

.tech-list{
  display: flex;
  align-items: center;
}

/* PROJECTS */

#projects-list{
  margin: 10px 5px;

}
.project{
  height: 100px;
}

.project-thumb{
  background-color: var(--color-right-col-drk);
  border: 2px ridge white;
}

.project-thumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-text{
  background-color: var(--color-right-col-lgt);
  border: 2px ridge white;
  border-left: none;
  border-bottom: none;
}

.project-text:last-of-type{
  border-bottom: 2px ridge white;
}

.project-description{
  margin: 5px;
}

/* FOOTER */
footer {
  height: 100px;
}

/* MODAL */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-overlay.active {
  display: flex;
}

.modal-content {
  background-color: var(--color-left-col-lgt);
  border: 3px ridge var(--color-trim);
  padding: 20px;
  width: 400px;
  max-width: 90%;
}

.modal-content h2 {
  color: var(--color-text-lgt-blu);
  background-color: var(--color-trim);
  margin: -20px -20px 15px -20px;
  padding: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: var(--color-text-lgt-blu);
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 2px ridge var(--color-trim);
  font-family: inherit;
  font-size: inherit;
}

.form-group textarea {
  resize: vertical;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.form-actions button {
  padding: 8px 16px;
  border: 2px ridge var(--color-trim);
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
}

.form-actions button[type="submit"] {
  background-color: var(--color-header-bg);
  color: white;
}

.form-actions button[type="button"] {
  background-color: var(--color-left-col-drk);
  color: var(--color-text-lgt-blu);
}

.form-actions button:hover {
  opacity: 0.9;
}

#form-status {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

#form-status.success {
  background-color: #d4edda;
  color: #155724;
}

#form-status.error {
  background-color: #f8d7da;
  color: #721c24;
}