
/* GLOBAL */

:root{
  --color-header-bg: #003399;
  --color-trim: #6698cb;
  --color-left-col-drk: #b1d0f0;
  --color-left-col-lgt: #d5e8fb;
  --color-right-col-title: #ffcc99;
  --color-right-col-drk: #ff9933;
  --color-right-col-lgt: #f9d6b4;
  --color-text-lgt-blu: #336699;
  --color-text-drk-orn: #FF6600;

  font-size: 12px;
}


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}
body{
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--color-left-col-lgt);
}


h1,h2,h3{
  padding-left: 5px;
}


ul{

  list-style: none;

}

.grid-container{
  background-color: white;
  width: 980px;
  min-height: 100vh;
}

/* HEADER */

header{
  background-color: var(--color-header-bg);
}
header nav{
  background-color: var(--color-trim);
}

header nav ul{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li{
  color: white;
  margin: 0 2px 0 2px;
  padding: 6px 2px;

}

header nav ul span{
  color: black;
}

nav a{
  color: white;
  text-decoration: none;
}

nav a:hover{
  color: black;
}

/* COLUMNS */



/* SECTIONS */
section{
  margin: 10px;
}

.content div{
  padding: 3px;
}

/* LEFT COLUMN */

.grid-col-left section h2{
 color:white;
 border-bottom: 2px ridge var(--color-trim);
}

.grid-col-left section{
  border: 2px ridge var(--color-trim);
}

.grid-col-left section h2{
  background-color: #6698cb;
}

#bio{
  border: 0px;
}

.content-title{
  background-color: var(--color-left-col-drk);
  color: var(--color-text-lgt-blu);
  padding-left: 5px;
  padding-top: 2px;;
  font-weight: 600;
  margin: 2px;

}

.content-title p{
 color: initial;
 font-weight: initial;
}

.content-area{
  background-color: var(--color-left-col-lgt);
  margin: 2px;

}

/* RIGHT COLUMN */

.grid-col-right section h2{
  color:var(--color-text-drk-orn);
  background-color: var(--color-right-col-lgt);
}

.grid-col-right .content{
  padding: 5px;
}

.grid-col-right h3{
  color:var(--color-text-drk-orn);
  padding-top: 10px;
}

#network {
  margin: 20px auto;
  border: 2px solid black;
}

#network p{
  font-size: 2rem;
  text-align: center;
  padding: 25px 0;
}


#blogs{
}

#comments{
  margin: 10px 5px;
}
.comment{
  height: 100px;
}

.comment-thumb{
  background-color: var(--color-right-col-drk);
  border: 2px ridge white;
}

.comment-text{
  background-color: var(--color-right-col-lgt);
  border: 2px ridge white;
  border-left: none;
  border-bottom: none;
}

.comment-text:last-of-type{
  border-bottom: 2px ridge white;
}


.blog-entries li{
  padding: 5px;
}

.blog-link{
  font-weight: 700;
}

#blurbs p{
  padding-left: 5px;
}

#blog-title content{
  padding-left: 5px;
}

.blogpost-footer{
  background-color: var(--color-right-col-title);
  color: rgba(0,0,0,0.7);
}

#blogpost ul{
  display: flex;
}

#blogpost li{
  padding: 2px 5px;

}

.link-back{
  font-weight: 700;
}

.skill img{
  width:90px;
}

.skills-list{
  display: flex;
  align-items: center;
}